body, html {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

header {
    text-align: center;
    width: 100%;
    padding: 10px 0 20px 0;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
}

form {
    min-width: 200px;
    max-width: 500px;
    text-align: center;
    margin: 10px auto;
    font-size: 1rem;
    padding:  0 10px 10px 10px;
}

#search {
    padding: 2px 6px;
    margin: 0 auto;
    font-size: 1rem;
    min-width: 300px;
    max-width: 500px;
    display: block;
}

.pokemon-btns { 
    width: 100%;
    margin-top: 20px;
    text-align: center;
}

form button {
    background-color: white;
}

.form-button {
    padding: 4px 12px;
    font-size: 1rem;
    font-weight: bold;
    margin: 10px 5px;
    background-color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    border-radius: 3px;
}

#pokemon-grid {
    background-color: red;
    margin: 0 auto;
    width: 80%;
    padding: 10px;
    font-size: 1rem;
    border-radius: 8px;
    min-height: 600px;
}

.pokemon-id {
    text-align: center;
    text-transform: capitalize;
    font-size: 1.8rem;
    font-weight: bold;
}

.pokemon-id h2, .pokemon-id h3 {
    display: inline-block;
}

.pokemon-images {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    font-size: 1rem;
}

.pokemon-images img {
    margin: 0 auto;
    padding-bottom: 10px;
}

.pokemon-lists {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    font-size: 1rem;
}

.pokemon-lists li {
    font-size: 1rem;
    padding-bottom: 10px;
}

.pokemon-evolution {
    font-size: 1.2rem;
    text-align: center;
}

#pokemon-evolve-list {
    display: flex;
    justify-content: space-evenly;
}

#pokemon-evolve-list div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#evol-current {
    background-color: white;
    border-radius: 5px;
}

